//========================================
//  Buttons
//========================================

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $light-blue;
    transition-duration: 1s;
  }

  .default:hover {
    background-color: $light-blue-light;
  }
  
  .error {
    background-color: $light-red;
  }
  
  .info {
    background-color: $purple;
  }
  
  .success {
    background-color: $medium-green;
  }
  
  .warning {
    background-color: $orange;
  }

  @media (min-width: $breakpoint) { 
    .btn {
      padding: 10px 30px;
    }
    
    .btn + .btn {
      margin-left: 10px;
    }
  }